<p id="notice"><%= notice %></p>

<h1>Listing Tracks</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= link_to 'Show', track, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_track_path(track), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<table class='table'>
  <tr>
    <th>Track name</th>
    <th>Nodes</td>
    <th></th>
  </tr>
  <% @new_tracks.each do |trk| -%>
    <tr>
      <td><%= trk.name %></td>
      <td><%= trk.nodes.count %></td>
      <td><form role="form" method="POST" action="<%= tracks_path %>/import" />
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
        <input type="hidden" name="file" value="<%= trk.filename %>" />
        <input type="submit" value="Import" class="btn btn-success"/>
      </form></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
