<h3><%= @track.title %></h3>
<p><strong>Nodes:</strong> <%= @track.nodes.count %>

<div class='row'>
<%= image_tag image_path(@altitude_thumbnail_file), class: 'img-polaroid img-test-asset', 'data-toggle' => 'modal', 'data-target' => '#image-popup-altitude' %>
<div class='modal fade' id='image-popup-altitude' tabindex='-1' role='dialog' aria-labelledby='image-popup-altitude-Label'>
  <div class='modal-dialog' role='document'>
    <%= image_tag image_path(@altitude_file), class: 'img-responsive' %>
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
  </div>
</div>
</div>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
